{% extends "layout.html" %}
{% block title %}Writing{% endblock %}
{% block content %}
<section>
    <h1 class=post-title>Writing</h1>
    <hr />
  <div id="articles-list">
    {% for post in posts %}
    <article>
      <div class="row">
      <span class="article-date"><time pubdate datetime="{{ post.timestamp|date('%Y-%m-%d') }}">{{ post.date }}</time></span> - <span class="article-name"><a href="{{ get_url(post.url) }}">{{ post.title }}</a></span>
      </div>
  </div>
  </article>
  {% endfor %}
</div>
</section>
{% endblock %}
