{% extends "layout.html" %}
{% block title %}Writing{% endblock %}
{% block content %}
<section id="articles">
  <ol>
    {% for post in posts %}
    <li>
      <a href="{{ get_url(post.url) }}" title="{{ post.title }}">
        <aside>
          <time pubdate datetime="{{ post.timestamp|date('%Y-%m-%d') }}">
            {{ post.timestamp | date('%B %d, %Y') }}
          </time>
        </aside>
        <article>
          {{ post.title }}
        </article>
      </a>
    </li>
    {% endfor %}
  </ol>
</section>
{% endblock %}
