<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
       ================================================== -->
  <meta charset="utf-8">
  <meta name="description" content="derwolfe.net blog">
  <meta name="author" content="chris wolfe">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Mobile Specific Metas
       ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
       ================================================== -->
  <link rel="stylesheet" href="{{ get_asset('css/derwolfe.css') }}">
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  <!-- JS
       ================================================== -->
  <script src="{{ get_asset('js/jquery-1.11.2.min.js') }}"></script>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

  <!-- Favicons
       ================================================== -->
  <!-- <link rel="shortcut icon" href="{{ get_asset('images/favicon.ico') }}" type="image/x-icon"> -->
  <link rel="alternate" href="{{ get_url('feed.xml') }}" type="application/atom+xml">
  <title>{{ site.title }}</title>

  <!-- Analytics
       ================================================== -->
    {% include "analytics.html" %}

</head>

<body class="container">

  <aside>
    <header class="navigation">
      <div>
	<a href="/" class="logo">derwolfe.net</a>
	<ul>
	  <li class="nav-link"><a href="/">Articles</a></li>
	  <li class="nav-link"><a href="{{ get_url('about') }}">About Me</a></li>
	</ul>
      </div>
    </header>
  </aside>

  <div class="articles">
    {% block content %}{% endblock %}
    <hr />
    {% include "copyright.html" %}
  </div>

</body>
</html>
