{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div class="post">
  <h1 class="post-title">About</h1>
  <p>Hi, I’m Chris.</p><p>I’m a programmer working out of Lawrence, KS, USA.</p><p>I enjoy writing, reading, and learning about programming, concurrency, computer networking, program safety, and functional programming.</p>

  <h1>Open Source Libraries</h1><ul><li><a href="https://twistedmatrix.com/">Twisted</a> — Networking engine written in Python; I’ve contributed patches and performed reviews.</li></ul>
  <h1>Open Source Applications</h1><ul><li><a href="http://github.com/derwolfe/teiler/">Teiler</a> — Simple home file sharing platform. Makes use of Twisted.</li></ul>
</div>


{% endblock %}
