@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
@import "libraries/better-bourbon-buttons/bbb.scss";

$base-border-color: black;
$max-width: em(700);

body {
    background: #f0f0f0;
}


#main {
    @include outer-container;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
}

img {
    width:100%;
    max-width:$max-width;
}


@import "partials/nav";
@import "partials/logo";
@import "partials/content";
@import "partials/articles";
@import "partials/pygments";
@import "partials/buttons";
@import "partials/footer";