@charset "utf-8";

// bourbon imports
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// project specific imports
@import "navbar";
@import "pygments";
@import "articles";


.container {
    @include outer-container;

    $mobile: new-breakpoint(max-width 500px 2);
    $large-screen: new-breakpoint(min-width 501px 2);

    max-width: em(750);
    min-width: em(500);
}