#articles {
    $button-color: #32CD32;
    $hover-color: transparentize($button-color, 0.8);
    $sans-serif: 'Open Sans', sans-serif;

    font-family: $sans-serif;

    aside {
        font-style: italic;
    }

    article { }

    ol {
        list-style: none;
        padding: 0;
    }

    li {
        border-top: solid 2px black;
    }

    li:first-child {
        /* no border */
        border-top: none;
    }

    a {
        display: block;
        padding-left: em(5);
        padding-top: em(10);
        padding-bottom: em(10);
        color: black;
        text-decoration: none;
    }

    a:hover {
        background-color: $hover-color;
    }
}