#articles {
    $button-color: #32CD32;
    $hover-color: transparentize($button-color, 0.6);
    $sans-serif: 'Open Sans', sans-serif;
    font-family: $sans-serif;

    ol {
        list-style: none;
        padding: 0;
    }

    li {
        border-top: solid 2px black;
    }

    a {
        padding-left: em(5);
        color: black;
        text-decoration: none;
        display: block;
        line-height: em(50);
    }

    a:hover {
        background-color: $hover-color;
    }

    .article-date {
        font-style: italic;
    }
}