#nav {
    text-align: center;
    $serif: 'Roboto Slab', serif;

    font-family: $serif;
    ul {
        list-style: none;
        padding-left: em(0);
        padding-margin: em(0);
    }

    li {
        display: inline-block;
        padding-right: em(10);
    }
}